<div class="alert alert-info my-4" *ngIf="discipuloscelula?.length == 0">
    No hay discipulos asignados para la celula. Debe agregar al menos uno!
  </div>
  <div *ngIf="discipuloscelula?.length > 0">
    <h5 class="text-success">Asistentes a la celula</h5>
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre Completo </th>
          <th>Asistio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of discipuloscelula let i= index"
          [ngStyle]="{'background-color': item.idMiembro.estado =='Activo' ? 'white' : 'red' }">
          <td>{{i+1}}</td>
          <td>{{item.idMiembro.nomCompleto}}</td>
          <td><input class="form-check-input" type="checkbox" id="flexCheckChecked" formControlName="asistio"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button (click)="reportar()" type="button" class="btn btn-success" data-dismiss="modal">Reportar Celula</button>
  </div>
