<div class="alert alert-info my-4" *ngIf="listtema?.length == 0">
    No hay temas reportados a esta celula!
  </div>
  <div *ngIf="listtema?.length > 0">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>Semana</th>
          <th>Fecha</th>
          <th>Nombre del tema </th>
          <th>Cita biblica</th>
          <th>Medio</th>
          <!--<th>Ofrenda</th> -->
          <th>Nro. Asistentes</th>
          <th>Verificada</th>
          <th>Eliminar</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemt of listtema let i= index">
          <td>{{itemt.fechaCelula | date: 'w'}}</td>
          <td>{{itemt.fechaCelula | date: 'dd/MM/YYYY'}}</td>
          <td>{{itemt.temaCelula | titlecase}}</td>
          <td>{{itemt.citaCelula | titlecase}}</td>
          <td>{{itemt.nombreMedio}}</td>
          <!-- <td class="text-end">{{itemt.ofrendaCelula | currency: '$':true: '1.0-2'}}</td> -->
          <td class="text-center">{{itemt.nroAsistentes}} 
            <button *ngIf="itemt.nroAsistentes > 0" class="btn btn-info btn-sm" type="button"
              (click)="verAsistente(itemt)"> Ver </button>
          </td>
  
          <td class="text-center" *ngIf="itemt.verificada===false"> Pendiente
            <i class="fa fa-question-circle" [ngStyle]="{'color':'orange'}"></i>
          </td>
          <td class="text-center" *ngIf="itemt.verificada===true"> Ok
            <i class="fa fa-check-circle" [ngStyle]="{'color':'green'}"></i>
          </td>
  
          <td> <button *ngIf="itemt.verificada===false" class="btn btn-danger btn-sm" type="button"
              (click)="eliminarReporteCelula(itemt)">
              <i class=" fa-sharp fa-solid fa-xmark"></i>Eliminar </button>
          </td>
  
        </tr>
      </tbody>
    </table>
  </div>
