<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened" [ngStyle]="{'color': 'grey'}"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened" [ngStyle]="{'color': 'grey'}"> close </mat-icon>
  </button>

  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="" width="130">
    </a>   
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"> 

    <mat-icon *ngIf="lider?.sexo=='M'" [ngStyle]="{'color':'#00C695'}" >account_circle</mat-icon>
    <mat-icon *ngIf="lider?.sexo=='F'" [ngStyle]="{'color':'#FF3EB3'}" >account_circle</mat-icon>
  </button>

  <button *ngIf="logueado" class="btn btn-sm px-6 fs-6" type="button" [matMenuTriggerFor]="menu">
  {{ nombreUsuario() | titlecase }}   </button>
  <button *ngIf="!logueado" class="btn btn-sm  px-6 fs-6" type="button" [matMenuTriggerFor]="menu" >
    Iniciar sesión
  </button>


 
  <mat-menu #menu="matMenu">
    <button  *ngIf="!logueado"  (click)="abrir()" mat-menu-item>
      <mat-icon [ngStyle]="{'color':'#FFB03D'}" >account_circle</mat-icon>
      <span>Iniciar sesión</span>
    </button>
    <button *ngIf="logueado" [routerLink]="['/perfil', lider.idMiembro]" mat-menu-item>
      <mat-icon>how_to_reg</mat-icon>
      <span>Mis datos</span>
    </button>
    
    <button *ngIf="logueado" mat-menu-item routerLink="/reporte" >
      <mat-icon>insert_chart_outlined</mat-icon>
      <span>Reportes</span>
    </button>

    <button *ngIf="logueado" mat-menu-item routerLink="/configuracion" >
      <mat-icon>settings</mat-icon>
      <span>Configuraciones</span>
    </button>
<!-- 
    <button *ngIf="logueado" mat-menu-item >
      <mat-icon>fingerprint</mat-icon>
      <span>Cambiar contraseña</span>
    </button>
  -->

    <button  *ngIf="logueado" (click)="cerrar()"  mat-menu-item>
      <mat-icon [ngStyle]="{'color':'#FFB03D'}" >account_circle</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>

<!--
 
  <img  class="imagen" src="http://Backend-env.eba-acyvuvgp.us-east-1.elasticbeanstalk.com/images/no-usuario.png" 
  [alt]="lider.nomCompleto" [matMenuTriggerFor]="menu"
    #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
  
  -->


</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <!-- src="http://Backend-env.eba-acyvuvgp.us-east-1.elasticbeanstalk.com/api/uploads/img/{{lider.imgPerfil}}"-->
    <img *ngIf="lider?.imgPerfil" class="avatar mat-elevation-z8"
      src="http://localhost:8080/api/uploads/img/{{lider.imgPerfil}}" />

    <img *ngIf="!lider?.imgPerfil" class="avatar mat-elevation-z8"
      src="http://Backend-env.eba-acyvuvgp.us-east-1.elasticbeanstalk.com/images/no-usuario.png" />

    <div *ngIf="!logueado">
      <h6 class="name">Nombre del lider </h6>
    </div>

    <div *ngIf="logueado">
      <h6 *ngIf="logueado" class="name">{{lider.nomCompleto}} </h6>
    </div>
    <p class="designation">MCI Santa Marta</p>

    <mat-divider></mat-divider>

      <div *ngIf="logueado">
      <button mat-button class="menu-button" routerLink="/inicio">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
    
      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/nuevo">
        <mat-icon>supervisor_account</mat-icon>
        <span>Nuevo</span>
      </button>

      <button mat-button class="menu-button" routerLink="/seguimiento">
        <mat-icon>list</mat-icon>
        <span>Gestión ganar</span>
      </button>
      <mat-divider></mat-divider>

      <button *ngIf="lider.numDocumento==='800195397'" mat-button class="menu-button" routerLink="/uvida">
        <mat-icon>list</mat-icon>
        <span>U. vida</span>
      </button>

      <button mat-button class="menu-button" routerLink="/gestionuvida">
        <mat-icon>send</mat-icon>
        <span>Postulados</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/ministerio">
        <mat-icon>group_add</mat-icon>
        <span>Discipulos</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/listcelula">
        <mat-icon>share</mat-icon> 
        <span>Celulas</span>
      </button>
      <!--*ngIf="lider.numDocumento==='800195397'"-->
      <button mat-button class="menu-button" routerLink="/gestiono">
        <mat-icon>done_all</mat-icon>
        <span>Gestion enviar</span>
      </button>
      <mat-divider></mat-divider>

      <button *ngIf="lider.numDocumento==='800195397'" mat-button class="menu-button" routerLink="/evento">
        <mat-icon> bubble_chart</mat-icon>
        <span>Eventos</span>
      </button>
      <button *ngIf="lider.numDocumento==='800195397'" mat-button class="menu-button" routerLink="/pagos">
        <mat-icon> monetization_on</mat-icon>
        <span>Pagos</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>