<div class="card border-primary mb-3">
    <div class="card-header">Una clave de la multiplicación, es cuidar al nuevo con amor.</div>
    <div class="card-body ">
        <h6 class="card-title">Nuevos del ministerio de {{nombreActual}} </h6>
        <div class="row my-2 text-left">
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text bg-transparent">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" name="listFilter" class="form-control border-end-0"
                        placeholder="Filtrar por nombre del nuevo" [(ngModel)]="listFilter">                   
                </div>
            </div>
            <div class="col">
                <button class="btn btn-rounded btn btn-success" type="button" routerLink="/nuevo">
                    Ingresar un nuevo
                </button>
            </div>
            <div class="col">
                <button class="btn btn-rounded btn btn-success card-header" type="button"   [matMenuTriggerFor]="menuN">
                    <i class="fa fa-file-pdf" [ngStyle]="{'color':'#50D2AC'}"></i> Generar reporte PDF
                </button>
                <mat-menu #menuN="matMenu">             
                    <button  (click)="reporteTGestion()" mat-menu-item>
                      <mat-icon [ngStyle]="{'color':'orange'}">group</mat-icon>
                      <span>Todos</span>
                    </button>
                    <button  (click)="reporteSGestion()" mat-menu-item>
                      <mat-icon [ngStyle]="{'color':'#009A94'}">group_add</mat-icon>
                      <span>Gestionados</span>
                    </button>    
                    <button  (click)="reporteNGestion()" mat-menu-item>
                      <mat-icon [ngStyle]="{'color':'red'}">group_add</mat-icon>
                      <span>No gestionados</span>
                    </button>  
                  </mat-menu>
            </div>
            <div class="col">
                <label>Convencciones de Tipo de invitado</label>
                <label>(N= Nuevo)
                     - (R=Rescatado)
                </label>
            </div>
        </div>
        <div *ngIf="nuevos?.length == 0" class="alert alert-info">
            No hay nuevos registrados de tu ministerio en la base de datos!
        </div>
        <table class="table table-bordered table-striped" *ngIf="nuevos?.length>0" id="elementId">
            <thead>
                <tr>
                    <th>#</th>
                    <th>U. vida</th>
                    <th>Fecha Reunión </th>
                    <th>Nombre del invitado </th>
                    <th>Tipo de invitado </th>
                    <th>Celular </th>                    
                    <th>Invitad@ por </th>  
                    <th>Detalles </th>               
                    <th>Seguimiento</th>                   
                    <th>Disposición</th>
                    <th>Gestionar</th>
                    <th>Editar</th>
                </tr>
            </thead>
           <!-- src="http://18.212.243.217:8080/api/uploads/img/{{item.imgPerfil}}"-->
            <tbody>
                <tr *ngFor="let item of filterNuevos ; let i= index"
                    [ngStyle]="{'background-color': item.estado =='Activo' ? 'white' : 'orange' }">
                    <td>
                        <img (click)="agregarimg(item.idMiembro)" *ngIf="item.imgPerfil"
                        src="{{urlrecurso}}/api/uploads/img/{{item.imgPerfil}}"
                        alt="{{item.imgPerfil}}" class="img-thumbnail rounded" style="width:32px; cursor: pointer;">
          
                      <img (click)="agregarimg(item.idMiembro)" *ngIf="!item.imgPerfil"
                        src="{{urlrecurso}}/images/no-usuario.png" alt="Sin foto"
                        class="img-thumbnail rounded" style="width:32px; cursor: pointer;">
          
                    </td>
                    <td>
                        <button *ngIf="(item.estado==='Activo')" type="button" 
                        class="btn btn-info btn-sm"  (click)='postular(item)'>
                            Postular</button>
                    </td>
                    <td>{{ item.fechaReunion | date: 'dd/MM/YYYY' }}</td>
                    <td>{{ item.nombreInvitado| titlecase }}</td>
                    <td class="text-center" *ngIf="item.nuevo===false">R
                        <i class="fa fa-check" [ngStyle]="{'color':'orange'}"></i>
                    </td>
                    <td class="text-center" *ngIf="item.nuevo===true">N
                        <i class="fa fa-check" [ngStyle]="{'color':'green'}"></i>
                    </td>
                    <td>{{ item.celular }}</td>                    
                    <td> {{ item.nombroQuienInvita | titlecase}}</td>
                    <td><button type="button" class="btn btn-warning btn-sm"
                        (click)='vermas(item)'>
                        Ver </button></td>
                   
                    <td>
                        <i  class="text-left" *ngIf="item.fonollamada" class="fa fa-check-circle" [ngStyle]="{'color': item.disposicion==='No gestionado'? 'orange':'green'}"></i>
                        <i  class="text-center" *ngIf="!item.fonollamada" class="fa fa-times-circle" [ngStyle]="{'color': item.disposicion==='No gestionado'? 'orange':'red'}"></i>
                        <i  class="text-end" *ngIf="item.fonovisita" class="fa fa-check-circle" [ngStyle]="{'color': item.disposicion==='No gestionado'? 'orange':'green'}"></i>
                        <i  class="text-end" *ngIf="!item.fonovisita" class="fa fa-times-circle" [ngStyle]="{'color':item.disposicion==='No gestionado'? 'orange':'red'}"></i>

                    </td>
                    <td>
                        <i *ngIf="(item.disposicion==='Si')" class="fa fa-user-plus" [ngStyle]="{'color':'green'}"></i>
                        <i *ngIf="(item.disposicion==='No')" class="fa fa-user-times" [ngStyle]="{'color':'red'}"></i>
                        <i *ngIf="(item.disposicion==='No gestionado')" class="fa fa-question-circle" [ngStyle]="{'color':'orange'}"></i>
                        {{ item.disposicion }}
                    </td>
                    <td>
                        <button *ngIf="(item.estado==='Activo')" type="button" 
                        class="btn btn-info btn-sm"
                            [routerLink]="['/gestionn', item.idGanados]">
                            Gestionar</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm"
                            [routerLink]="['/miembro', item.idMiembro]">
                            Editar </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="isLoading"> 
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff897" type = "ball-clip-rotate-multiple" 
    [fullScreen] = "true"><p style="color: rgb(226, 130, 34)" > Cargando... </p></ngx-spinner>    
  </div> 

  <!-- type = "ball-climbing-dot" -->