<div class="card border-primary mb-3">
    <div class="card-header">Gestionando ofrendas de celulas con diligencia.</div>
    <div class="card-body">
        <h6 class="card-title">Celulas MCI Santa Marta </h6>
        <div class="row my-2 text-left">
            <div class="col">
                <div class="input-group">
                    <input type="text" name="listFilter" class="form-control border-end-0"
                        placeholder="Filtrar por nombre del lider" [(ngModel)]="listFilter">
                    <span class="input-group-text bg-transparent">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
           
        </div>

        <div class="alert alert-info my-4" *ngIf="listtema?.length == 0">
            No hay temas reportados a esta celula!
        </div>
        <div *ngIf="listtema?.length > 0">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Nombre del lider </th>
                        <th>Celular </th>
                        <th>Nombre del tema </th>
                        <th>Asist.</th>
                        <th>Ofrenda</th>
                        <th>Confirmada</th>
                        <th>Gestión</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of filterOfrenda let i= index">
                        <td>{{item.fechaCelula | date: 'YYYY-MM-dd'}}</td>
                        <td>{{item.idCelula.idMiembroLider.nomCompleto | uppercase}}</td>
                        <td>{{item.idCelula.idMiembroLider.celular}}</td>
                        <td>{{item.temaCelula | uppercase}}</td> <!--titlecase-->
                        <td class="text-center">{{item.nroAsistentes}}</td>
                        <td class="text-end">{{item.ofrendaCelula | currency: '$':true: '1.0-2' }}</td>
                        <td class="text-center" *ngIf="item.verificada===true">
                            <i class="fa fa-check-circle" [ngStyle]="{'color':'green'}"></i>
                        </td>
                        <td class="text-center" *ngIf="item.verificada===false">
                            <i class="fa fa-times-circle" [ngStyle]="{'color':'red'}"></i>
                        </td>
                        <td class="text-center" *ngIf="item.verificada===false"> <button 
                            class="btn btn-success btn-sm"
                                type="button" (click)="Verificar(item)">
                                Confirmar </button>
                        </td>
                        <td class="text-center" *ngIf="item.verificada===true"> <button 
                            class="btn btn-danger btn-sm"
                                type="button" (click)="Verificar(item)">
                                Des-confirmar </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>