<div class="card border-primary mb-3">
    <div class="card-header">Gestionando celulas con diligencia.</div>
    <div class="card-body">
        <h6 class="card-title">Reporte semanal del ministerio de {{nombreActual}}. </h6>
        <div class="row my-2 text-left">
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text bg-transparent">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </span>
                    <input type="text" name="listFilter" class="form-control border-end-0"
                        placeholder="Filtrar por nombre del lider" [(ngModel)]="listFilter">                
                </div>
            </div>           
        </div>

        <div class="alert alert-info my-4" *ngIf="listtema?.length == 0">
            No hay temas reportados a esta celula!
        </div>
        <div *ngIf="listtema?.length > 0">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>Semana</th>  
                        <th>Fecha</th>                      
                        <th>Lider de celula</th>                        
                        <th>Nombre del tema </th>
                        <th>Cita biblica </th>
                        <th>Lider inmediato</th>  
                        <th>Asist.</th>
                       <!-- <th>Ofrenda</th>-->
                        <th>Verificada</th>
                        <th>Gestión</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of filterOfrenda let i= index">
                        <td>{{item.fechaCelula | date: 'w'}}</td>
                        <td>{{item.fechaCelula | date: 'dd/MM/YYYY'}}</td>                                          
                        <td>{{item.nombreLiderCelula | titlecase}}</td>                       
                        <td>{{item.temaCelula | titlecase}}</td> <!--titlecase-->
                        <td>{{item.citaCelula | titlecase}}</td>
                        <td>{{item.nombreLiderInmediato | titlecase}}</td> 
                        <td class="text-center">
                            <a (click)="verAsistente(item)" style="cursor: pointer; text-decoration: none; color: rgb(71, 60, 216);">{{item.nroAsistentes}}</a>
                        </td>
                        <!--<td class="text-end">{{item.ofrendaCelula | currency: '$':true: '1.0-2' }}</td> -->
                        <td class="text-center" *ngIf="item.verificada===true">
                            <i class="fa fa-check-circle" [ngStyle]="{'color':'green'}"></i>
                        </td>
                        <td class="text-center" *ngIf="item.verificada===false">
                            <i class="fa fa-question-circle" [ngStyle]="{'color':'orange'}"></i>
                        </td>
                        <td class="text-center" *ngIf="item.verificada===false"> <button 
                            class="btn btn-info btn-sm"
                                type="button" (click)="Verificar(item)">
                                Verificar </button>
                        </td>
                        <td class="text-center" *ngIf="item.verificada===true"> <button 
                            class="btn btn-success btn-sm"
                                type="button" (click)="Verificar(item)">
                                Verificada </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div *ngIf="isLoading"> 
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff897" type = "ball-clip-rotate-multiple" 
        [fullScreen] = "true"><p style="color: rgb(226, 130, 34)" > Cargando... </p></ngx-spinner>    
      </div>
      