<div class="card border-primary mb-3">
  <div class="card-header mb-3">Una clave de la multiplicación, es hacer una celula con amor.</div>

    <h6 class="card-title">Celulas ministerio {{nombreActual}}  <i class="fa fa-cogs" aria-hidden="true" [ngStyle]="{'color':'orange'}"></i>
      {{celulas?.length }}</h6>
    <div class="row my-2 text-left">     
        <div class="col-sm">
          <div class="input-group mb-2">
            <span class="input-group-text bg-transparent">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input type="text" name="listFilter" class="form-control border-end-0"
              placeholder="Filtrar por nombre del lider, por barrio" [(ngModel)]="listFilter">
            <button class="btn btn-rounded btn btn-success" type="button" routerLink="/celulanueva">
              Crear celula nueva
            </button>

            <button class="btn btn-rounded btn btn-success" type="button" (click)="generatePDF()" >             
             <i class="fa fa-download" [ngStyle]="{'color':'green'}"></i> Generar PDF
             <!--style  ="cursor: pointer; text-decoration: none; color: rgb(71, 60, 216);"-->
            </button>
          </div>
        </div> 
     </div>
    <div *ngIf="celulas?.length == 0" class="alert alert-info">
      No hay celulas registradas de tu ministerio en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="celulas?.length>0" id="elementId">
      <thead>
        <tr>
          <th>Novedad</th>
         
          <th>Lider de la celula</th>
          <th>Anfitrion </th>
          <th>Direccion de la celula</th>
          <th>Barrio</th>
          <th>Dia</th>
          <th>Hora</th>
          <th>Red</th>
          <th>Lider inmediato</th>
          <th>editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filterCelulas ; let i= index"
          [ngStyle]="{'background-color': item.estado =='Activa' ? 'white' : 'orange' }">
          <td>
            <div class="btn-group">              
              <button *ngIf="(item.estado==='Activa')" type="button" class="btn btn-info btn-sm"
                [routerLink]="['/celulareporte', item.idCelula]">
                Reportar</button>   
                <i *ngIf="item.gcompleto" class="fa fa-users mt-2" aria-hidden="true" [ngStyle]="{'color':'green'}"></i>   
                
               <label *ngIf="(item.estado!='Activa')">{{ item.estado }} </label>
            </div>
          </td>
         
          <td>{{ item.nombreLider| titlecase }}</td>
          <td>{{ item.nombreAnfitrion| titlecase }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.barrio }}</td>
          <td>{{ item.diaCelula }}</td>
          <td>{{ item.horaCelula }}</td>
          <td>{{ item.nombreRed }}</td>
          <td>{{ item.nombreLiderInmediato| titlecase }}</td>
          <td>
            <button type="button" class="btn btn-light" [routerLink]="['/celula', item.idCelula]">
              <i style="color: cornflowerblue; " class="far fa-edit"></i> </button>
          </td>
        </tr>
      </tbody>
    </table>

</div>

<div *ngIf="isLoading"> 
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff897" type = "ball-clip-rotate-multiple" 
  [fullScreen] = "true"><p style="color: rgb(226, 130, 34)" > Cargando... </p></ngx-spinner>    
</div>