<div class="card border-primary mb-3">
  <div class="card-header"> Una clave de la multiplicación, es formar discipulos con el carácter de Cristo.</div>
  <div class="card-body ">
    <h6 class="card-title">Ministerio de {{nombreActual}}.   <i class="fa fa-users" aria-hidden="true" [ngStyle]="{'color':'green'}"></i>  {{
      miembros?.length }} </h6>    
    <div class="row my-2 text-left">     
        <div class="col-sm">
          <div class="input-group mb-2">
            <span class="input-group-text bg-transparent">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input type="text" name="listFilter" class="form-control border-start-0"
              placeholder="Buscar por nombre o barrio o lider" [(ngModel)]="listFilter">
            <button class="btn card-header" type="button" routerLink="/miembro">
              Nuevo discípulo
            </button>
            <button class="btn card-header" type="button"  [matMenuTriggerFor]="menuD">
              <i class="fa fa-file-pdf" [ngStyle]="{'color':'#50D2AC'}"></i> Generar reporte PDF
            </button>

            <mat-menu #menuD="matMenu">             
              <button  (click)="reporteTMinisterio()" mat-menu-item>
                <mat-icon [ngStyle]="{'color':'orange'}">group</mat-icon>
                <span>Todos</span>
              </button>
              <button  (click)="reporteLMinisterio()" mat-menu-item>
                <mat-icon [ngStyle]="{'color':'#009A94'}">group_add</mat-icon>
                <span>Solo lideres</span>
              </button>    
              <button  (click)="reporteTiMinisterio()" mat-menu-item>
                <mat-icon [ngStyle]="{'color':'red'}">group_add</mat-icon>
                <span>Solo timoteos</span>
              </button>  
            </mat-menu>

          </div>
        </div>    
      </div>
    <div *ngIf="miembros?.length == 0" class="alert alert-info mb-3">
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="miembros?.length>0" id="elementId">
      <thead>
        <tr>
          <th>#</th>
          <th>U. vida</th>         
          <th>Nombre discipulo </th>
          <th> Cumple</th>
          <th>Edad</th>
          <th>Celular</th>
          <th>Direccion</th> 
          <th>Nombre lider inm </th>        
          <th class="text-center">Celula</th>
          <th class="text-center">Editar</th>
          <th class="text-center">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filterMiembros let i= index"
          [ngStyle]="{'color': item.estado =='Activo' ? 'black' : 'red' }">
          <td> 
            <img (click)="agregarimg(item)" *ngIf="item?.imgPerfil" 
              src="{{urlrecurso}}/api/uploads/img/{{item.imgPerfil}}"
              alt="{{item.imgPerfil}}" class="img-thumbnail rounded" style="width:36px; cursor: pointer;">

            <img (click)="agregarimg(item)" *ngIf="!item?.imgPerfil"
              src="{{urlrecurso}}/images/no-usuario.png" alt="Sin foto"
              class="img-thumbnail rounded" style="width:32px; cursor: pointer;">

          </td>
          <td>
            <button *ngIf="!item.lider && (item.estado==='Activo')"  type="button" class="btn btn-success btn-sm" (click)='postular(item)'>
               Postular </button>
          </td>
          
          <td>{{ item.nomCompleto| titlecase }}</td>
          <td> {{ pipeCumple(item.fecNacimiento) | date: 'dd MMM' }}</td>
          <td>{{CalcularEdad(item)}} </td>
          <td>{{ item.celular }}</td>
          <td>{{ item.direccion }} {{ item.barrio }} </td>
          <td>{{ item.nombreLiderInmediato | titlecase }}</td>
          <td>          

            <button *ngIf="item.lider && (item.estado==='Activo')" type="button" class="btn btn-success btn-sm"
              [routerLink]="['/celulanueva', item.idMiembro]">
              <i class="fa-thin fa-people-roof"></i> <i class="fa-thin fa-people-line"></i> Crear </button>
          </td>


          <td>
            <button type="button" class="btn btn-light btn-sm" [routerLink]="['/miembro', item.idMiembro]">
              <i style="color: cornflowerblue; " class="far fa-edit"></i> </button>
          </td>
          <td>
            <button type="button" class="btn btn-light btn-sm" (click)='delete(item)'>
              <i style="color: rgb(255, 49, 83); " class="far fa-trash-alt"></i> </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="isLoading"> 
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff897" type = "ball-clip-rotate-multiple" 
  [fullScreen] = "true"><p style="color: rgb(226, 130, 34)" > Cargando... </p></ngx-spinner>    
</div>

